streamlit>=1.30.0
streamlit-webrtc>=0.47.0
pymongo[srv]>=4.6.1
certifi>=2023.11.17

ultralytics==8.2.103

torch
torchvision

pandas>=2.1.0
plotly>=5.18.0
openpyxl>=3.1.2

opencv-python-headless==4.10.0.84
av